/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #777;
  border-style: dashed;
  border-color: #777;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

h3 {
  display:inline;
}
/* Header cells */
#genHistoryTable thead th {
  text-align: center;
  background: #cdcdcd;
}
.jumbotron {
  padding-top: 70px !important;
  background:lightblue !important;
}
