.login {
    text-align: center;
    margin-top: 4rem;
    width: 50%;
}


.login-field {
    margin: 2rem;
}

.login-submit {
    width: 50%;
}

.logo {
    font-family: 'Orbitron', sans-serif;
}

.login-form {
    padding-top: 2rem;
    box-shadow: 2px 2px 4px #888888;
    border-radius: 10px;
}