.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  background-image: url("background.jpg");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Jumbotron Styling */
.bigButton {
  padding: 25px 40px;
  font-size: 25px;
  border-radius: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 900;
}

/* Status card styling */
.card-deck .card {
  min-width: 80vw;
  font-size: 14px;
}

input[type="text"]
{
    font-size:14px;
    margin: 0px;
}

.card-body {
  padding: 0px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.form-group,  .card-title {
    margin-bottom: 0.1px;
  }

.input-text-borderless:disabled {
  border: none;
  border-color: transparent;
  background: transparent;
}

.formText {
  padding: 6px 12px;
}


  label {
    margin: 0px;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    
  }

  input {
    margin: 0px;
  }

  .generate-button {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 50px;
  }