<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Account Reporting Job Output</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        table td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        table .field {
            font-weight: bold;
        }
    </style>
</head>
<body>
<p>
    Dear <span th:text="${authentication}"></span>,
</p>
<p>
    An accounting report has been successfully generated as attached.
</p>
<h1>Generation Details</h1>
<table th:object="${job}">
    <tr><td class="field">Company Name:</td><td th:text="*{company}"></td></tr>
    <tr><td class="field">Referred By:</td><td th:text="*{referredBy}"></td></tr>
    <tr><td class="field">In-Charge:</td><td th:text="*{inCharge}"></td></tr>
    <tr th:if="*{firstYear}"><td class="field">Professional Fees (This Year):</td><td th:text="*{prevProfessionalFees}"></td></tr>
    <tr th:unless="*{firstYear}"><td class="field">Professional Fees (Current Period):</td><td th:text="*{professionalFees}"></td></tr>
    <tr th:unless="*{firstYear}"><td class="field">Professional Fees (Prev Period):</td><td th:text="*{prevProfessionalFees}"></td></tr>
</table>

<hr/>
    <b><i>Accounting Report Generator</i></b>
</hr>
</body>
</html>