#sidebar {
    background-color: #fafafa;
    padding-top: 55px;
    overflow: hidden;
    z-index: 3;
    min-width: 0px;
    width: 0;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: visible;
    transition: width 0.35s, visibility 0.35s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    /* transform: translateX(-45px); */
    position: fixed;
    /* visibility: hidden; */
    display: block;
    box-shadow: 5px 5px 8px #555555;
}
    
#sidebar.show {
    width: 300px;
    visibility: visible;
    /* transform: translateX(0); */
}

.sidebar-list .list-group-item {
    background-color: transparent;
}

.sidebar-list .list-group-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.sidebar-list a {
    color: black;
    text-decoration: none;
}

.sidebar-list .list-group-item {
    border-radius: 0px;
    border-top: 0px;
}